<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="layout :: site-head" />
    <head>
        <link th:href="@{/css/table/datatables.css}" rel="stylesheet" />
        <link th:href="@{/css/linkage.css}" rel="stylesheet" />
        <script th:src="@{/js/table/datatables.js}" type="text/javascript"></script>
        <script th:src="@{/js/linkage/linkageStep7.js}" type="text/javascript"></script>
        <script th:src="@{/js/linkage/HouseHoldLink.js}" type="text/javascript"></script>        
    </head>pes

    <body>
        <div class="wrapper">
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />

            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Step 7
                        <small>E.A. <span th:text="${session.appStatus.selEaCod}" th:unless="${session == null}"> . </span></small>                                                
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title pull-left">
                                <a title="Refresh" th:href="@{/initStep7}">                                
                                    <i class="fa fa-refresh"></i>
                                </a>                                    
                                &nbsp;&nbsp;Step 7 - Linkage by normalized names and by the other original variables
                            </div>                               
                            <div class="panel-title pull-right">
                                <a title="Step 5" th:href="@{/step6}">
                                    <i class="fa fa-step-backward"></i>                                    
                                    <span>Step 6</span>&nbsp;                                                                                                            
                                </a>                         
                                &nbsp;|&nbsp;
                                <a title="Step 8" th:href="@{/step8}">
                                    <span>Step 8</span>&nbsp;                                    
                                    <i class="fa fa-step-forward"></i>                                    
                                </a>
                            </div>                                
                        </div>                        
                        <br/>
                        <div class="panel-body">
                            <table id="tabStep" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID A</th>
                                        <th>Name A</th>
                                        <th>Age A</th>
                                        <th>ID B</th>
                                        <th>Name B</th>
                                        <th>Age B</th>                                        
                                        <th>Sex</th>
                                        <th>Religion</th>
                                        <th>Relat</th>
                                        <th>Grade</th>
                                        <th>Ethnic</th>
                                        <th>Marital</th>
                                        <th>Cod EA</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
            <div th:replace="linkage/hhLinked :: hhLinkedPanel"></div>            
            <div th:replace="linkage/hhLinkage :: hhLinkPanel"></div>
            
            <footer th:replace="layout :: site-footer" />

        </div>

    </body>
</html>

