<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="layout :: site-head" />
    <head>
        <link th:href="@{/css/table/datatables.css}" rel="stylesheet" />
        <script th:src="@{/js/table/datatables.js}" type="text/javascript"></script>
        <script th:src="@{/js/linkage/linkageStep4.js}" type="text/javascript"></script>
        <script th:src="@{/js/linkage/HouseHoldLink.js}" type="text/javascript"></script>        
    </head>

    <body>

        <div class="wrapper">
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />

            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Step 4
                        <small>E.A. <span th:text="${session.appStatus.selEaCod}" th:unless="${session == null}"> . </span></small>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title pull-left">
                                <a title="Refresh" th:href="@{/initStep4}">                                
                                    <i class="fa fa-refresh"></i>                   
                                </a>                                    
                                &nbsp;&nbsp;Step 4 - Linkage by normalized names and 'SEX' (with Sticker ID)
                            </div>                               
                            <div class="panel-title pull-right">
                                <a title="Step 3" th:href="@{/step3}">
                                    <i class="fa fa-step-backward"></i>                                    
                                    <span>Step 3</span>&nbsp;                                                                                                            
                                </a>                         
                                &nbsp;|&nbsp;
                                <a title="Step 5" th:href="@{/step5}">
                                    <span>Step 5</span>&nbsp;                                    
                                    <i class="fa fa-step-forward"></i>                                    
                                </a>
                            </div>                     
                        </div>                         
                        <br/>
                        <div class="panel-body">
                            <table id="tabStep" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID A</th>
                                        <th>Name A</th>
                                        <th>Age A</th>
                                        <th>Relat A</th>                                        
                                        <th>Marital A</th>
                                        
                                        <th>ID B</th>
                                        <th>Name B</th>
                                        <th>Age B</th>                                        
                                        <th>Relat B</th>                                        
                                        <th>Marital B</th>   
                                        
                                        <th>Sex</th>
                                        <th>Cod EA</th>
                                        
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="linkage/hhLinked :: hhLinkedPanel"></div>                        
            <div th:replace="linkage/hhLinkage :: hhLinkPanel"></div>
            
            <footer th:replace="layout :: site-footer" />

        </div>

    </body>
</html>

